#
# HSI controllers configuration
#
comment "HSI controllers"

config OMAP_SSI
	tristate "OMAP SSI hardware driver"
	depends on (ARCH_OMAP2 || ARCH_OMAP3) && HSI
	default n
	---help---
	  If you say Y here, you will enable the OMAP SSI hardware driver.

	  If unsure, say N.

if OMAP_SSI

config OMAP_SSI_CONFIG
	boolean
	default y

endif # OMAP_SSI
