#
# HSI clients configuration
#

comment "HSI clients"

config SSI_PROTOCOL
	tristate "SSI protocol"
	default n
	depends on HSI && OMAP_SSI && CMT && PHONET
	---help---
	  If you say Y here, you will enable the SSI protocol aka McSAAB.
	  The SSI protocol is a link layer protocol for SSI, which is used
	  to transport Phonet messages between APE and CMT.

	  If unsure, say N.

config HSI_CHAR
	tristate "HSI/SSI character driver"
	depends on HSI
	---help---
	  If you say Y here, you will enable the HSI/SSI character driver.
	  This driver provides a simple character device interface for
	  serial communication with the cellular modem over HSI/SSI bus.
