config VIDEO_SMIAREGS
	tristate "Generic SMIA I2C register access and register list helper"
	---help---
	  This allows writing and reading SMIA image sensors' I2C registers
	  easily.

	  Also a few helper functions are provided to work with binary
	  register lists.

config VIDEO_SMIA_SENSOR
	tristate "Generic SMIA-compatible camera sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	select VIDEO_SMIAREGS
	---help---
	  This is a generic driver for SMIA-compatible camera sensors.
	  It works at least with ST VS6555 and Toshiba TCM8330MD
	  VGA camera sensors.

config VIDEO_ET8EK8
	tristate "ET8EK8 camera sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	select VIDEO_SMIAREGS
	---help---
	  This is a driver for the Toshiba ET8EK8 5 MP camera sensor.
	  It is used for example in Nokia RX51.
